<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/deco.css') }}">
</head>
<body>
    <h1 id="titre" style="text-align: center;">Page de payement owoo</h1>
    <div id="milieu" style=" height: 500px; width: 500px; ">
        <button id="payement" style="background-color: black; color: blanchedalmond;margin-left: 550px; height: 60px;width: 180px; border: darkgray;border-radius: 100px; font-size: 20px;font-style: italic;">payement</button>
    </div>
</body>
</html>

